# Need to ignore everything within directory
/*

# Now allow the following to be gitted
# Include the git ignore file, as want this for all repositories
!.gitignore
!README.md
!_image

# Global ignore entries
*.OutputStatus
Status Report.txt

# Allow access to the Electronics folder, and include file at this level
# Excluding Pcb designs (as caught in Gerber)
#  Ignore sub-folders, apart from Outputs
!20_Electronics
20_Electronics/*/
!20_Electronics/Outputs
20_Electronics/*.SWPcbDoc

# Allow access to the Software folder
# However only allow miStepper.ioc, Embed (all subs), 'Src/main.cpp' and 'Inc/main.h' to be
# recorded
!30_Software
30_Software/*
!30_Software/miStepper.ioc
!30_Software/Src/
30_Software/Src/*
!30_Software/Src/main.*
!30_Software/Inc/
30_Software/Inc/*
!30_Software/Inc/main.*
!30_Software/Embed/

# Include folder entries for the ROS/milibrary repositories in support of miStepper.
# to be included such that this repository can be used as 'Master' for miStepper; although
# the individual repositories can be called seperately
!90_ROSStack

#!milibrary
#!miStepperROS